<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>
    <main>
        <img id="sadFaceImg"
            src="https://i.pinimg.com/originals/bc/a3/0f/bca30f5f390e1853c679952545c86e72.gif"
            alt="sad face" />
        <h1>404</h1>
        <h2>Page not found</h2>
    </main>
